{{#with card.printings.firstObject as |printing|}}
  <div class="stream-view-item">
    <div class="stream-view-item-count">
      {{card.count}}
    </div>
    <div class="stream-view-item-content">
      {{printing.name}}
    </div>
    <div class="stream-view-item-cost">
      {{mana-cost cost=printing.manaCost}}
    </div>
    <img
      class="stream-view-item-background"
      width="223"
      height="312"
      alt={{printing.name}}
      src={{card-image-url printing.name}}
     />

  </div>
{{/with}}