<div class="visual-decklist">
  {{#each maindeck as |section|}}
    {{#if section.cards}}
      <ul class="visual-decklist__section">
        <li class="visual-decklist__section-title">
          {{section.type}} ({{sum-cards section.cards}})
        </li>
        {{#each (sort-cards section.cards) as |card|}}
          {{visual-decklist/card card=card}}
        {{/each}}
      </ul>
    {{/if}}
  {{/each}}
  {{#if sideboard}}
    <ul class="visual-decklist__section">
      <li class="visual-decklist__section-title">
        Sideboard ({{sum-cards sideboard}})
      </li>
      {{#each (sort-cards sideboard) as |card|}}
        {{visual-decklist/card card=card}}
      {{/each}}
    </ul>
  {{/if}}
</div>