<div flex layout-gt-xs="row" class="visual-decklist">
  <div flex="50">
    {{#if creatures}}
      {{#paper-list}}
        {{#paper-subheader}}Creatures ({{sum-cards creatures}}){{/paper-subheader}}
        {{#each (sort-cards creatures) as |card|}}
          {{visual-decklist/card card=card}}
        {{/each}}
      {{/paper-list}}
    {{/if}}
    {{#if spells}}
      {{#paper-list}}
        {{#paper-subheader}}Spells ({{sum-cards spells}}){{/paper-subheader}}
        {{#each (sort-cards spells) as |card|}}
          {{visual-decklist/card card=card}}
        {{/each}}
      {{/paper-list}}
    {{/if}}
  </div>
  <div flex="50">
    {{#if lands}}
      {{#paper-list}}
        {{#paper-subheader}}Lands ({{sum-cards lands}}){{/paper-subheader}}
        {{#each (sort-cards lands) as |card|}}
          {{visual-decklist/card card=card}}
        {{/each}}
      {{/paper-list}}
    {{/if}}
    {{#if sideboard}}
      {{#paper-list}}
        {{#paper-subheader}}Sideboard ({{sum-cards sideboard}}){{/paper-subheader}}
        {{#each (sort-cards sideboard) as |card|}}
          {{visual-decklist/card card=card}}
        {{/each}}
      {{/paper-list}}
    {{/if}}
  </div>
</div>

