<li class="visual-decklist-card visual-decklist-card--{{bgStyle}}">
  {{hoverable-preview card=card}}
  {{#let card.printings.firstObject as |printing|}}
    <a
      class="visual-decklist-card__link"
      target="_blank"
      href={{concat
        "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseId="
        printing.multiverseId
      }}
    >
      <img
        class="visual-decklist-card__image"
        src={{card-image-url printing.name version="art_crop"}}
        alt={{printing.name}}
      >
      <span class="visual-decklist-card__count">
        {{card.count}}
      </span>
      <dl class="visual-decklist-card__content">
        <dt class="visual-decklist-card__name">
          {{printing.name}}
        </dt>
        <dd class="visual-decklist-card__oracle-text">
          {{printing.text}}
        </dd>
      </dl>
    </a>
  {{/let}}
</li>