{{#with card.printings.firstObject as |printing|}}
  <a
    target="_blank"
    href={{concat
      "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseId="
      printing.multiverseId
    }}
  >
    <div
      class="card-image md-avatar"
      style={{concat
        "background-image:url('"
        (card-image-url printing.name)
        "')"
      }}
    >
      <span class="card-count">
        {{card.count}}
      </span>
    </div>
    <div class="md-list-item-text">
      <h3>
        {{printing.name}}
      </h3>
      <p class="oracle-preview">
        {{printing.text}}
      </p>
    </div>
  </a>
{{/with}}