<h2>
  Share a Deck
</h2>
<button onclick={{toggle "isInEditView" this}}>
  {{#if isInEditView}}
    View
  {{else}}
    Edit
  {{/if}}
</button>
{{#mtg-loaded}}
  {{#if isInEditView}}
    <h3>
      Edit Decklist
    </h3>
    {{#decklist-editor as |form|}}
      <button
        disabled={{form.isInvalid}}
        onclick={{action (toggle "isInEditView" this)}}
      >
        Save & View Decklist
      </button>
    {{/decklist-editor}}
  {{else}}
    {{visual-decklist}}
  {{/if}}
{{/mtg-loaded}}