{{#main-toolbar}}
  <h2>
    Share a Deck
  </h2>
  <span class="flex"></span>
  {{#if isInEditView}}
    {{#paper-button iconButton=true onClick=(action (toggle "isInEditView" this))}}
      {{paper-icon "view"}}
    {{/paper-button}}
  {{else}}
    {{#paper-button iconButton=true onClick=(action (toggle "isInEditView" this))}}
      {{paper-icon "edit"}}
    {{/paper-button}}
  {{/if}}
{{/main-toolbar}}
{{#mtg-loaded}}
  {{#paper-content class="md-padding"}}
    {{#if isInEditView}}
      <h3>Edit Decklist</h3>
      {{#decklist-editor as |form|}}
        {{#paper-button primary=true disabled=form.isInvalid onClick=(action (toggle "isInEditView" this))}}
          Save &amp; View Decklist
        {{/paper-button}}
      {{/decklist-editor}}
    {{else}}
      {{visual-decklist}}
    {{/if}}
  {{/paper-content}}
{{/mtg-loaded}}

