{{#main-toolbar}}
  <h2>
    Triplets
  </h2>
  <span class="flex"></span>
{{/main-toolbar}}
{{#mtg-loaded}}
  {{#paper-content class="md-padding"}}
    <form class="triplets-form">
      <label
        class="triplets-form__field triplets-form__field--primary
          {{if (and primary (not primaryPrinting)) "triplets-form__field--error"
          }}"
      >
        Primary Card
        {{input value=primary}}
      </label>
      <label
        class="triplets-form__field triplets-form__field--left
          {{if (and left (not leftPrinting)) "triplets-form__field--error"}}"
      >
        Left Card
        {{input value=left}}
      </label>
      <button class="triplets-form__swap" {{action "swap"}}>
        {{paper-icon "swap_horiz"}}
      </button>
      <label
        class="triplets-form__field tripletsform__field--right
          {{if (and right (not rightPrinting)) "triplets-form__field--error"}}"
      >
        Right Card
        {{input value=right}}
      </label>
    </form>
    <div class="triplets-photo">
      {{#if primaryPrinting}}
        {{playtest-card
          name=primary
          width=265
          height=370
          class="triplets-photo__image triplets-photo__image--primary"
        }}
      {{/if}}
      {{#if leftPrinting}}
        {{playtest-card
          name=left
          width=265
          height=370
          class="triplets-photo__image triplets-photo__image--left"
        }}
      {{/if}}
      {{#if rightPrinting}}
        {{playtest-card
          name=right
          width=265
          height=370
          class="triplets-photo__image triplets-photo__image--right"
        }}
      {{/if}}
    </div>
  {{/paper-content}}
{{/mtg-loaded}}